<% var title = "Annonce" %>
<% include head %>
<form method="post" action="/posterAnnonce">
    <input style="display: block; margin : auto; width:50%;" type="text" name="annonce" placeholder="Annonce" autofocus/>
    <button style="display: block; margin : auto; width:20%;" type="submit" value="Poster" class="btn btn-default">Poster</button>
</form>
<% include foot %>