<footer>
    <div class="container">
        <div class="footer-inner-container">
            <span>Yacine Tebboune - Maxime Aublet - [U-nion]</span>
            <div class="float-lg-right">Copyright 2018</div>
        </div>
    </div>
</footer>

</body>
</html>