<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>
<header id="header"><!--header-->

    <nav style="background-color: #494441;" class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/index">U-nion</a>
            </div>
            <ul class="nav navbar-nav">
                <li ><a href="/index">Accueil</a></li>
                <% if (!_username) { %>
                <li ><a href="/login">Se connecter</a></li>
                <% } %>
                <% if (_username) { %>
                <li class="myaccount"><a href="/myaccount">Mon compte</a></li>
                <% } %>
                <% if (_username) { %>
                <li class="classement"><a href="/annonce">Poster une annonce</a></li>
                <% } %>
                <% if (_username) { %>
                <li class="disconnect"><a href="/disconnect">Déconnexion</a></li>
                <% } %>
            </ul>
            <% if (_rank == 1 ) { %>
            <form method="get" action="/admin">
                <button type="submit" class="btn btn-danger navbar-btn">Admin</button>
            </form>
            <% }  if (!_username) { %>
            <form method="get" action="/register">
                <button type="submit" class="btn btn-danger navbar-btn">S'enregistrer</button>
            </form>
            <% } %>

        </div>
    </nav>
</header>
<body>