<% var title = 'Formulaire login' %>
<% include head %>

<section id="form"><!--form-->
    <div class="container">

        <form class="login-form col-md-4" method="post" action="/checkLogin">
            <fieldset>
                <legend>Connexion</legend>
                <div class="form-group">
                    <label for="username_login">Username :</label>
                    <input type="text" class="form-control" id="username_login" name="username">
                </div>
                <div class="form-group">
                    <label for="password_login">Password :</label>
                    <input type="password" class="form-control" id="password_login" name="password">
                </div>

                <input id="btn_login" type="submit" class="btn btn-outline-info" value="Envoyer"/>
            </fieldset>
        </form>

    </div>
</section><!--/form-->

<% include foot %>