
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

footer{

    margin-top: 30px;

}

.footer-inner-container{
    padding: 10px;
    border-top: 1px solid gray;
}